<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
 "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
	<!-- for  creating singleton object: more details are in book -->
	<!-- <bean class="beans.Test" id="t"> -->
	
	<!-- for  creating multiple object: more details are in book -->
	<bean class="beans.Test" id="t" scope="prototype">
	
	
	</bean>
</beans>
